<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.byb.gambler"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" android:name="com.byb.gambler.activity.UILApplication" >
        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BetsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.MoreActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.LeadersActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.PlayWebservice"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.RootTabScreen"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.HomeScreen"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.WelcomeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.TCActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="com.byb.gambler.TCActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.byb.gambler.activity.ResetPswdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="com.byb.gambler.ResetPswdActivity" />
            </intent-filter>
        </activity>
        
           <activity
            android:name=".activity.FriendListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        
           <activity
            android:name=".views.ContactFriendList"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>